Source: hibagent
Section: utils
Priority: optional
Maintainer: Aleksei Besogonov <cyberax@amazon.com>
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-setuptools
Standards-Version: 3.9.6
X-Python3-Version: >= 3.3

Package: hibagent
Version: 1.0.0
Maintainer: Aleksei Besogonov <cyberax@amazon.com>
Section: utils
Architecture: all
Priority: optional
Depends: ${misc:Depends}, ${python3:Depends}, pm-utils
Description: Agent that triggers hibernation on EC2 instances
 Agent that triggers hibernation on EC2 instances when they receive instance stop notifications
Build-Depends: debhelper (>= 9),
               dh-python,
               python3-all,
               python3-pkg-resources,
               python3-pkginfo,
               python3-releases (>= 0.6.1),
               python3-requests (>= 2.0),
               python3-setuptools
